body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0px;
}
h1{
    color:red;
    text-align: center;
}
#canvas{
    width:1200px;
    height: 600px;
    background-color: red;
    border: 2px solid black;
    color:black;
}
.toolbox{
    border:1px solid white;
    background-color: gray;
    display: flex;
    width:495px;
    padding:5px;
}
.toolbox>*{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    margin: 3px;
    padding: 3px;
    font-size: 20px;
}
